
body {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.fresno_back{
    background-image: url("./Afbeeldingen/Fresno.jpg");
}

.Landpagina{
    background-image: url("./Afbeeldingen/wp2670434.jpg");
}

.hotels{ 
    background-image: url("./Afbeeldingen/Nieuw project (1).jpg");
}

.losangeles{
  background-image: url("./Afbeeldingen/Los Angeles.jpg");
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.subtekst{
  padding-left: 120px;
}


.daglosangeles{
  text-align: center;
}

.disney{
  height: 360px;
  width: 720px;
  padding-left: 400px;
}

.hsi{
  height: 450px;
  width: 720px;
  padding-left: 400px;
}

.market{
  height: 300px;
  width: 600px;
  padding-left: 150px;
  margin-right: 10px;
}

.routemarkt{
  height: 300px;
  width: 550px;
}

.joe{
  height: 450px;
  width: 720px;
  padding-left: 400px;
}

.holly{
  height: 360px;
  width: 720px;
  padding-left: 400px;
}

.rodeo{
  height: 380px;
  width: 720px;
  padding-left: 400px;
}

.pier{
  height: 400px;
  width: 720px;
  padding-left: 400px;
}